.container{
}

.mainTitle{
    font-size: 100px;

}

.selectTitle{
    margin:20px 0px;


}

.items{
    display: flex;
    gap:50px;

}

.item{
    border:5px solid white;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
}

.item:nth-child(1){
    background:url("/ovelha.jpg");
}

.title{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    
}

.item:hover .title{
    color:aqua;
}